 {% extends 'admin/master.html' %}
 {% block title %}  home {% endblock title %}
 {% load static %}
 {% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add EVM Votes</title>
</head>
<body>
   <section id="main-content" style=" margin-right:110px;">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>ADD EVM VOTES</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i>Home</li>
              <li><i class="icon_document_alt"></i>Result</li>
              <li><i class="fa fa-file-text-o"></i>Add EVM Votes</li>
            </ol>
          </div>
        </div>
          <div class="row">
          <div class="col-sm-12">
            <section class="panel">
              <header class="panel-heading">
                EVM votes
              </header>
                <form class="form-inline" role="form" method="POST" action="submitevmvote">
                    {% csrf_token %}
              <table class="table">
                <thead>
                  <tr>
                    <th>Candidate ID</th>
                    <th>Candidate Name</th>
                    <th>EVM votes</th>
                  </tr>
                </thead>
                {% for i in candidates %}
                <tbody>

                  <tr>
                    <td><input type="text" name="candidateid" value="{{i.candidate_id}}" readonly class="form-control"></td>
                    <td><input type="text" name="candidatename" value="{{i.candidate_name}}" readonly class="form-control"></td>
                    <td><input type="number" name="votes" placeholder="Enter EVM votes" class="form-control"></td>
                  </tr>
                  {% endfor %}

                <tr>
                    <td colspan="3" align="center"><button type="submit" class="btn btn-primary">Submit EVM votes</button></td>
                  </tr>
                <tr>
                    <td colspan="3">{% for message in messages %}
                            <h3 style="color: green;"> {{message}} </h3>
                            {% endfor %}</td>
                </tr>
                </tbody>
              </table>
                </form>
            </section>
          </div>
        </div>
      </section>
      </section>
</body>
</html>
   {% for i in candidates %}
  {% endfor %}
  {% endblock content %}