 {% extends 'admin/master.html' %}
 {% block title %}  home {% endblock title %}
 {% load static %}
 {% block content %}
   <script>
        function st(s1,s2)
            {
                var s1 = document.getElementById(s1);
                var s2 = document.getElementById(s2);
                s2.innerHTML = "";
                if(s1.value == "ANDAMAN AND NICOBAR ISLANDS","GOA","GUJARAT","ANDHRA PRADESH","ARUNACHAL PRADESH","ASSAM","BIHAR","CHANDIGARH","CHHATTISGARH","DADRA &amp; NAGAR HAVELI","DAMAN &amp; DIU","HARYANA","HIMACHAL PRADESH","JAMMU & KASHMIR","JHARKHAND","KARNATAKA","KERALA","LAKSHADWEEP","MADHYA PRADESH","MAHARASHTRA","MEGHALAYA","MIZORAM","NAGALAND","NCT OF DELHI ","ODISHA","PUDUCHERRY","PUNJAB","RAJASTHAN","SIKKIM","TAMIL NADU","TELANGANA","TRIPURA","UTTAR PRADESH","UTTARAKHAND","WEST BENGAL")
                    {
                       var optionArray = ["|","Parliamentary|Parliamentary","Assembly|Assembly"];
                    }
                for(var option in optionArray)
                    {
                        var pair = optionArray[option].split("|");
                        var newOption = document.createElement("option");
                        newOption.value = pair[0];
                        newOption.innerHTML = pair[1];
                        s2.options.add(newOption);
                     }
            }
       function st2(s2,s3)
            {
                var s1 = document.getElementById("states");
                var s2 = document.getElementById(s2);
                var s3 = document.getElementById(s3);
                s3.innerHTML = "";
                if(s1.value == "ANDAMAN AND NICOBAR ISLANDS")
                    {
                       var optionArray1 = ["|"];
                    }
                 else if(s1.value == "ANDHRA PRADESH")
                   {
                       if(s2.value == "Parliamentary")
                           {
                                var optionArray1 = ["|","araku|Araku","srikakulam|Srikakulam","vizianagaram|Vizianagaram","visakhapatnam|Visakhapatnam",
                               "anakapalli|Anakapalli","kakinada|Kakinada","Amalapuram|Amalapuram","Rajahmundry|Rajahmundry",
                               "Narasapuram|Narasapuram",	"Eluru|Eluru",	"Machilipatnam|Machilipatnam","Vijayawada|Vijayawada",
                               "Guntur|Guntur","Narasaraopet|Narasaraopet","Bapatla|Bapatla","Ongole|Ongole","Nandyal|Nandyal",
                               "Kurnool|Kurnool","Anantapur|Anantapur","Hindupur|Hindupur","Kadapa|Kadapa","Nellore|Nellore",];
                           }
                       else{
                               var optionArray1=["|","Tirupati|Tirupati",
                               "Rajampet|Rajampet","Chittoor|Chittoor"]
                           }
                   }
                  else if(s1.value == "ARUNACHAL PRADESH")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }

                   }
                 else if(s1.value == "ASSAM")
                   {
                       if(s2.value == "Parliamentary")
                           {
                                var optionArray1 = ["|","Karimganj|Karimganj","Silchar|Silchar","Autonomous District|Autonomous District","Dhubri|Dhubri",
                                               "Kokrajhar|Kokrajhar","Barpeta|Barpeta","auhati|Gauhati","Mangaldoi|Mangaldoi","Tezpur|Tezpur",
                                               "Nowgong|Nowgong","Kaliabor|Kaliabor","Jorhat|Jorhat","Dibrugarh|Dibrugarh","Lakhimpur|Lakhimpur"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "BIHAR")
                   {
                        if(s2.value == "Parliamentary")
                           {
                                var optionArray1 = ["|","Valmiki Nagar|Valmiki Nagar","Paschim Champaran|Paschim Champaran",
                                               "Purvi Champaran|Purvi Champaran","Sheohar|Sheohar","Sitamarhi|Sitamarhi","Madhubani|Madhubani",
                                               "Jhanjharpur|Jhanjharpur","Supaul|Supaul","Araria|Araria","Kishanganj|Kishanganj",
                                               "Katihar|Katihar","Purnia|Purnia","Madhepura|Madhepura", "Darbhanga|Darbhanga",
                                               "Muzaffarpur|Muzaffarpur","Vaishali|Vaishali","Gopalganj|Gopalganj","Siwan|Siwan",
                                               "Maharajganj|Maharajganj",
                                               "Saran|Saran",
                                               "Hajipur|Hajipur",
                                               "Ujiarpur|Ujiarpur",
                                               "Samastipur|Samastipur",
                                               "Begusarai|Begusarai",
                                               "Khagaria|Khagaria",
                                               "Bhagalpur|Bhagalpur",
                                               "Banka|Banka",
                                               "Munger|Munger",
                                               "Nalanda|Nalanda",
                                               "Patna Sahib|Patna Sahib",
                                               "Pataliputra|Pataliputra",
                                               "Arrah|Arrah",
                                               "Buxar|Buxar",
                                               "Sasaram|Sasaram",
                                               "Karakat|Karakat",
                                               "Jahanabad|Jahanabad",
                                               "Aurangabad|Aurangabad",
                                               "Gaya|Gaya",
                                               "Nawada|Nawada",
                                               "Jamui|Jamui"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                  else if(s1.value == "CHANDIGARH")
                   {
                        if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Sarguja|Sarguja","Raigarh|Raigarh","Janjgir|Janjgir","Korba|Korba","Bilaspur|Bilaspur",
                                               "Rajnandgaon|Rajnandgaon","Durg|Durg","Raipur|Raipur","Mahasamund|Mahasamund",
                                               "Bastar|Bastar","Kanker|Kanker"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }

                   }
                else if(s1.value == "CHHATTISGARH")
                   {
                        if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                   else if(s1.value == "DADRA &amp; NAGAR HAVELI")
                   {
                        if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                   else if(s1.value == "DAMAN &amp; DIU")
                   {
                        if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                   else if(s1.value == "GOA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                                var optionArray1 = ["|","North Goa|North Goa","South Goa|South Goa"];
                           }
                       else{
                               var optionArray1=["|","Tirupati|Tirupati",
                               "Rajampet|Rajampet","Chittoor|Chittoor"]
                           }

                   }
                   else if(s1.value == "GUJARAT")
                   {
                        if(s2.value == "Parliamentary")
                           {
                                var optionArray1 = ["|","Kutch|Kutch", "Banaskantha|Banaskantha", "Patan|Patan",	"Mahesana|Mahesana",
                                               "Sabarkantha|Sabarkantha","Gandhinagar|Gandhinagar","Ahmedabad East|Ahmedabad East",
                                               "Ahmedabad West|Ahmedabad West","Surendranagar|Surendranagar","Rajkot|Rajkot",
                                               "Porbandar|Porbandar","Jamnagar|Jamnagar", "Junagadh|Junagadh","Amreli|Amreli",
                                               "Bhavnagar|Bhavnagar","Anand|Anand", "Kheda|Kheda","Panchmahal|Panchmahal",
                                               "Dahod|Dahod","Vadodara|Vadodara","Chhota Udaipur|Chhota Udaipur","Bharuch|Bharuch",
                                               "Bardoli|Bardoli","Surat|Surat","Navsari|Navsari","Valsad|Valsad"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                   else if(s1.value == "HARYANA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                                var optionArray1 = ["|","Ambala|Ambala","Kurukshetra|Kurukshetra", "Sirsa|Sirsa","Hissar|Hissar", "Karnal|Karnal",
                                               "Sonipat|Sonipat","Rohtak|Rohtak", "Bhiwani–Mahendragarh|Bhiwani–Mahendragarh",
                                               "Gurgaon|Gurgaon","Faridabad|Faridabad"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                   else if(s1.value == "HIMACHAL PRADESH")
                   {
                       if(s2.value == "Parliamentary")
                           {

                       var optionArray1 = ["|","Kangra|Kangra",
                                               "Mandi|Mandi",
                                               "Hamirpur|Hamirpur",
                                               "Shimla|Shimla"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                   else if(s1.value == "JAMMU & KASHMIR")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       var optionArray1 = ["|",];
                   }
                   else if(s1.value == "JHARKHAND")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       var optionArray1 = ["|",];
                   }
                else if(s1.value == "KARNATAKA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                              var optionArray1 = ["|",];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }

                   }
                 else if(s1.value == "KERALA")
                   {
                       if(s2.value == "Parliamentary")
                           {

                       var optionArray1 = ["|","Kasaragod|Kasaragod", "Kannur|Kannur","Vatakara|Vatakara","Wayanad|Wayanad", "Kozhikode|Kozhikode",
                                               "Malappuram|Malappuram","Ponnani|Ponnani","Palakkad|Palakkad","Alathur|Alathur","Thrissur|Thrissur",
                                               "Chalakudy|Chalakudy","Ernakulam|Ernakulam","Idukki|Idukki","Kottayam|Kottayam", "Alappuzha|Alappuzha","Mavelikara|Mavelikara","Pathanamthitta|Pathanamthitta","Kollam|Kollam",
                                               "Attingal|Attingal","Thiruvananthapuram|Thiruvananthapuram"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "LAKSHADWEEP")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "MADHYA PRADESH")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "MAHARASHTRA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "MANIPUR")
                   {
                       if(s2.value == "Parliamentary")
                           {
                       var optionArray1 = ["|","Inner Manipur|Inner Manipur","Outer Manipur|Outer Manipur"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "MEGHALAYA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                       var optionArray1 = ["|","Shillong|Shillong","Tura|Tura"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "MIZORAM")
                   {
                       if(s2.value == "Parliamentary")
                           {
                       var optionArray1 = ["|","MIZORAM|MIZORAM"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "NAGALAND")
                   {
                       if(s2.value == "Parliamentary")
                           {
                       var optionArray1 = ["|","NAGALAND|NAGALAND"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "NCT OF DELHI ")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "ODISHA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }

                 else if(s1.value == "PUDUCHERRY")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "PUNJAB")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "RAJASTHAN")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "SIKKIM")
                   {
                       if(s2.value == "Parliamentary")
                           {
                       var optionArray1 = ["|","SIKKIM|SIKKIM"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "TAMIL NADU")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "TELANGANA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "TRIPURA")
                   {
                       if(s2.value == "Parliamentary")
                           {
                       var optionArray1 = ["|","Tripura West|Tripura West","Tripura East|Tripura East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "UTTAR PRADESH")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "UTTARAKHAND")
                   {
                       if(s2.value == "Parliamentary")
                           {
                       var optionArray1 = ["|","Tehri Garhwal|Tehri Garhwal",
                                               "Garhwal|Garhwal",
                                               "Almora|Almora",
                                               "Nainital–Udhamsingh Nagar|Nainital–Udhamsingh Nagar",
                                               "Haridwar|Haridwar"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                 else if(s1.value == "WEST BENGAL")
                   {
                       if(s2.value == "Parliamentary")
                           {
                               var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                       else
                           {
                                var optionArray1 = ["|","Arunachal West|Arunachal West","Arunachal East|Arunachal East"];
                           }
                   }
                for(var option in optionArray1)
                    {
                        var pair = optionArray1[option].split("|");
                        var newOption = document.createElement("option");
                        newOption.value = pair[0];
                        newOption.innerHTML = pair[1];
                        s3.options.add(newOption);
                     }
            }
        </script>
<body>
  <!-- container section start -->
   <section id="main-content" style=" margin-right:110px;">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>View Voter</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i>Home</li>
              <li><i class="icon_document_alt"></i>Voter</li>
              <li><i class="fa fa-file-text-o"></i>View Voter</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Voter
              </header>
              <div class="panel-body">
                  <form class="form-horizontal" method="post" action="view_voter" id="CandidateCustomFilter">
                       {% csrf_token %}
                    <div class="form-group">
                    <label class="col-sm-2 control-label">State/UT</label>
                    <div class="col-sm-10">
                      <select id="states" name="states" class="form-control" onchange="st(this.id,'constituency1')" style="width:80%;">
                        <option value="" selected="selected">State/UT</option>
                        <option value="ANDAMAN AND NICOBAR ISLANDS">ANDAMAN AND NICOBAR ISLANDS</option>
                        <option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
                        <option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
                        <option value="ASSAM">ASSAM</option>
                        <option value="BIHAR">BIHAR</option>
                        <option value="CHANDIGARH">CHANDIGARH</option>
                        <option value="CHHATTISGARH">CHHATTISGARH</option>
                        <option value="DADRA &amp; NAGAR HAVELI">DADRA &amp; NAGAR HAVELI</option>
                        <option value="DAMAN &amp; DIU">DAMAN &amp; DIU</option>
                        <option value="GOA">GOA</option>
                        <option value="GUJARAT">GUJARAT</option>
                        <option value="HARYANA">HARYANA</option>
                        <option value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
                        <option value="JAMMU & KASHMIR">JAMMU & KASHMIR</option>
                        <option value="JHARKHAND">JHARKHAND</option>
                        <option value="KARNATAKA">KARNATAKA</option>
                        <option value="KERALA">KERALA</option>
                        <option value="LAKSHADWEEP">LAKSHADWEEP</option>
                        <option value="MADHYA PRADESH">MADHYA PRADESH</option>
                        <option value="MAHARASHTRA">MAHARASHTRA</option>
                        <option value="MANIPUR">MANIPUR</option>
                        <option value="MEGHALAYA">MEGHALAYA</option>
                        <option value="MIZORAM">MIZORAM</option>
                        <option value="NAGALAND">NAGALAND</option>
                        <option value="NCT OF DELHI">NCT OF DELHI </option>
                        <option value="ODISHA">ODISHA</option>
                        <option value="PUDUCHERRY">PUDUCHERRY</option>
                        <option value="PUNJAB">PUNJAB</option>
                        <option value="RAJASTHAN">RAJASTHAN</option>
                        <option value="SIKKIM">SIKKIM</option>
                        <option value="TAMIL NADU">TAMIL NADU</option>
                        <option value="TELANGANA">TELANGANA</option>
                        <option value="TRIPURA">TRIPURA</option>
                        <option value="UTTAR PRADESH">UTTAR PRADESH</option>
                        <option value="UTTARAKHAND">UTTARAKHAND</option>
                        <option value="WEST BENGAL">WEST BENGAL</option>
                      </select>
                    </div>
                  </div>
                     <div class="form-group">
                    <label class="col-sm-2 control-label">Constituency Type</label>
                    <div class="col-sm-10">
                       <select name="constituency1" class="form-control" id="constituency1"
                               onchange="st2(this.id,'Constituency2')" style="width:80%;">
                               <option value="" selected>Constituency Type</option>
                        </select>
                    </div>
                  </div>
                    <div class="form-group">
                    <label class="col-sm-2 control-label">Constituency</label>
                    <div class="col-sm-10">
                      <select name="constituency2" class="form-control" id="Constituency2" style="width:80%;">
                        <option value="" selected>Constituency</option>
                      </select>
                    </div>
                  </div>
                     <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" name="view_voter" type="submit">Filter</button>
                      </div>
                    </div>
                  </form>
              </div>
            </section>
          </div>
        </div>
                <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                List of voter
              </header>
              <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th><i class="icon_camera_alt"></i>photo</th>
                    <th><i class="icon_id"></i> voter ID</th>
                    <th><i class="icon_profile"></i> Full Name</th>
                    <th><img src="{% static 'images/gender.png' %}"> Gender</th>
                    <th><i class="icon_calendar"></i> Date of birth</th>
                    <th><img src="{% static 'images/parliament.png' %}"> State</th>
                    <th><img src="{% static 'images/parliament1.png' %}"> Parliamentary</th>
                    <th><img src="{% static 'images/assembly.png' %}">Assembly</th>
                  </tr>
                  {% for voter in voters %}
                  <tr>
                    <td><img src="{{voter.voter_image.url}}" alt="Image not found" height="150" width="180"></td>
                    <td>{{voter.voterid_no}}</td>
                    <td>{{voter.name}}</td>
                    <td>{{voter.gender}}</td>
                    <td>{{voter.dateofbirth}}</td>
                    <td>{{voter.state}}</td>
                    <td>{{voter.parliamentary}}</td>
                    <td>{{voter.assembly}}</td>
                  </tr>
                </tbody>
                   {% endfor %}
              </table>
              </div>
            </section>
          </div>
        </div>
      </section>
   </section>
        <!-- page end-->
</body>
 {% endblock content %}