 {% extends 'voter/master2.html' %}
 {% block title %}  home {% endblock title %}
 {% load static %}
 {% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Digital Voting</title>

  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- full calendar css-->
  <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
  <!-- easy pie chart-->
  <link href="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen" />
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
  <link href="{% static 'css/jquery-jvectormap-1.2.2.cs' %}s" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
  <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/xcharts.min.css' %}" rel=" stylesheet">
  <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
    <style>
        .pass{
            display: inline-block;
        }
    </style>
    <script>
        function show() {
            var x = document.getElementById("oldpass");
            if(x.type == "password") {
                x.type = "text";
            }
            else{
                x.type ="password";
            }
        }
        function show2() {
            var x = document.getElementById("password");
            if(x.type == "password") {
                x.type = "text";
            }
            else{
                x.type ="password";
            }
        }
        function show3() {
            var x = document.getElementById("comfirm_password");
            if(x.type == "password") {
                x.type = "text";
            }
            else{
                x.type ="password";
            }
        }
    </script>
</head>
<body>
  <section id="main-content" style="margin-left:0px; margin-right:5px;margin-top: 60px;">
    <section class="wrapper" style="margin-top: 60px;">
      <div class="row">
        <div class="col-lg-12" style="width:100%;">
            <section class="panel">
              <header class="panel-heading">
                  <i class="icon_key_alt"></i>Manage Password
              </header>
              <div class="panel-body">
                <form class="form-horizontal" method="POST" action="vchange_password">
                    {% csrf_token %}
                  <div class="form-group">
                    <label  class="col-lg-2 control-label">Old Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control pass" id="oldpass" required name="oldpass" style="width: 90%;">
                        <span class="pass"><a class="fa fa-eye" style="height: 20px;width: 20px; color: black;" onclick="show()"></a></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Enter Password</label>
                    <div class="col-lg-10">
                        <input name="password1" id="password" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        class="form-control pass" type="password"
                        onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                        if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);"
                        title="Password must contain atleast 8 characters, including UPPER/lowercase,numbers and special characters" style="width: 90%;">
                        <span class="pass"><a class="fa fa-eye" style="height: 20px;width: 20px; color: black;" onclick="show2()"></a></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Re-enter Password</label>
                    <div class="col-lg-10">
                          <input name="password2" id="comfirm_password"  class="form-control pass" type="password"
                    title="Please enter the same Password as above" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" style="width: 90%;">
                        <span class="pass"><a class="fa fa-eye" style="height: 20px;width: 20px; color: black;" onclick="show3()"></a></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" name="change password" value="Change Password" type="submit">Change Password</button>
                    </div>
                  </div>
                    <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                         {% for message in messages%}
                        <h3>{{message}}</h3>
                        {% endfor %}
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
      </div>
    </section>
  </section>
</body>
 {% endblock content %}

