{% extends 'voter/master2.html' %}
{% block title %}  home {% endblock title %}
{% load static %}
{% block content %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>View Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="img/favicon.png">

 <title>Digital Voting</title>

 <!-- Bootstrap CSS -->
 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 <!-- bootstrap theme -->
 <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
 <!--external css-->
 <!-- font icon -->
 <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
 <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
 <!-- full calendar css-->
 <link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
 <link href="{% static 'assets/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" />
 <!-- easy pie chart-->
 <link href="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen" />
 <!-- owl carousel -->
 <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
 <link href="{% static 'css/jquery-jvectormap-1.2.2.cs' %}s" rel="stylesheet">
 <!-- Custom styles -->
 <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
 <link href="{% static 'css/widgets.css' %}" rel="stylesheet">
 <link href="{% static 'css/style.css' %}" rel="stylesheet">
 <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
 <link href="{% static 'css/xcharts.min.css' %}" rel=" stylesheet">
 <link href="{% static 'css/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
</head>
<body>
<section id="main-content" style="margin-left:0px;margin-top: 60px;">
     <section class="wrapper" style="margin-top:60px;">
        <div class="row">
          <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-file-text-o"></i>Result</h3>
          </div>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel" >
              <header class="panel-heading">
                  Constituencywise Result
              </header>
              <div class="panel-body">
                  <form class="form-horizontal" action="vview_result_filter" method="POST">
                      {% csrf_token %}
                    <div class="form-group">
                    <label class="col-sm-2 control-label">Election ID</label>
                    <div class="col-sm-10">
                        <input type="text" name="e_id" class="form-control" value="{{electionid}}" style="width:80%;height:34px;" readonly>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">State/UT</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{state}}" style="width:80%;height:34px;" readonly>
                    </div>
                  </div>
                    <div class="form-group">
                    <label class="col-sm-2 control-label">Constituency</label>
                    <div class="col-sm-10">
                         <select name="constituency" class="form-control" style="width:80%;height:34px;" required>
                             <option value="">Constituency</option>
                             {% for i in constituency %}
                             <option value="{{i}}">{{i}}</option>
                             {% endfor %}
                            </select>
                    </div>
                  </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" name="view_result" type="submit">Filter</button>
                      </div>
                    </div>
                  </form>

                  <div class="table-responsive">
                    <table class="table" border="1">
                      <tbody>
                        <tr>
                            <th>Candidate</th>
                            <th>Party</th>
                            <th>Online Votes</th>
                            <th>EVM Votes</th>
                            <th>Total Votes</th>
                            <th>% of Votes</th>
                        </tr>
                        {% for i,j in result %}
                        <tr>
                          <td>{{i.candidate_name}}</td>
                          <td>{{i.candidate_party}}</td>
                          <td>{{i.online_votes}}</td>
                          <td>{{i.evm_votes}}</td>
                          <td>{{i.total_votes}}</td>
                          <td>{{j}}</td>
                        </tr>
                         {% endfor %}
                         <tr>
                          <th>Total</th>
                          <th></th>
                          <th>{{totalonline}}</th>
                          <th>{{totalevm}}</th>
                          <th>{{totalvotes}}</th>
                          <th></th>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
         </section>
    </body>
 </html>
 {% endblock content %}