 {% extends 'voter/master2.html' %}
 {% block title %}  Profile {% endblock title %}
 {% load static %}
 {% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile OTP Verification</title>
</head>
<body>
  <section id="main-content" style="margin-left:0px; margin-right:5px; margin-top: 60px;">
      <section class="wrapper" style="margin-top: 60px;">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>Voting</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <div class="panel-body">
                <form class="form-horizontal" action="subvoteotp" method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Enter OTP</label>
                    <div class="col-sm-10">
                        <input type="password" name="otp" class="form-control" style="width:80%;">
                    </div>
                  </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit"  name="otpsubmit">Submit</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        {% for message in messages %}
                            <h3 style="color: green;"> {{message}} {{mno}} </h3>
                            {% endfor %}
                      </div>
                    </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </section>
  </section>
</body>
</html>
  {% endblock content %}