<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OTP</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link href="{% static 'css/elegant-icons-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register/css/style.css' %}">
</head>
<body>
    <div class="main">
        <div class="container">
            <form method="POST" action="otp" class="appointment-form" id="appointment-form">
                {% csrf_token %}
                <h2>OTP</h2>
                <div class="form-group-1">
                    <h3 style="margin-bottom: 0px;">Enter OTP</h3>
                    <input type="password" required name="otp" style="width: 90%;">
                </div>
                <div class="form-submit">
                    <input type="submit" name="otpsubmit" class="submit" value="Submit">
                </div>
                <div class="form-group-1">
                    {% for message in messages %}
                    <h3 style="margin-bottom: 0px;">{{message}} {{mno}}</h3>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
    <!-- JS -->
    <script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'register/js/main.js' %}"></script>
</body>
</html>