<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register/css/style.css' %}">
     <script>
        RegExp.escape = function(s){
        return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        };
    </script>
    <title>Registration</title>
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" action="/voter/register_vid" class="appointment-form" id="appointment-form">
                {% csrf_token %}
                <h2>Registration</h2>
                <div class="form-group-1">
                    <h3 style="margin-bottom: 0px;">Enter Voter ID</h3>
                    <input name="vid" required maxlength="10" type="text" pattern="^[A-Z0-9]{10}$"
                                onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                       if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);"
                                       title="Only A-Z and 0-9 allowed minimum 10 characters">
                </div>
                <div class="form-submit">
                    <input type="submit" name="register_vid"class="submit" value="Submit Voter ID">
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'register/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>